@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">

    <div>
        <img src="@Model.ImagemThumbnailUrl" class="img-fluid" />
    </div>
    <h3>
        Preço: @Model.Preco.ToString("c")
    </h3>
    <h4>
        <a asp-controller="Lanche" asp-action="detalhes" asp-route-lancheId="@Model.LancheId"> @Model.Nome </a>
    </h4>
    <p>
        @Model.DescricaoCurta
    </p>
    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
            asp-action="AdicionaItemNoCarrinhoCompra" asp-route-LancheId="@Model.LancheId"> 
                Incluir no carrinho
            </a>
        </p>
    </div>
</div>